footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: rgba(0,0,0,0.6);
  // background: linear-gradient(317deg, rgba(102,0,0,1) 45%, rgba(254,0,0,1) 100%);
  color: $white;
  // box-shadow: 0px -10px 26px 0px rgba(0,0,0,0.5);

  .region-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

#copyright {
  margin-bottom: 20px;

  .text {
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    font-size: 16px;
    line-height: 1;
    margin-bottom: 10px;
  }
  img {
    width: 200px;
    height: auto;
  }
}

#footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    text-decoration: none;
    color: $white;
    border: 1px solid $white;
    border-radius: 50%;

    span {
      display: none;
    }

    &:hover,
    &:focus,
    &:active {
      color: $white;
      background-color: $red;
      border: 1px solid $red;
    }
  }
}

#footer-text-links {
  margin-bottom: 60px;
  a {
    font-size: smaller;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $white;
    &:hover {
      color: $primary;
    }
  }
}

#hyperluminal {
  .text {
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    font-size: 12px;
    line-height: 1;
    margin-bottom: 10px;
  }
  img {
    width: 90px;
    height: auto;
    margin-bottom: 10px;
  }  
}

#block-doobie-sitemap {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  font-size: 12px;
  line-height: 1;

  a {
    color: $white;
    text-decoration: inherit;
    border-bottom: inherit;

    &:hover,
    &:focus {
      color: $primary;
    }
  }
}